<main role="main">

  <section class="jumbotron text-center bg-light">
    <div class="container">
      <h2 class="mb-2">Pluralsight</h2>
      <h1>Angular getting started</h1>
      
    </div>
  </section>

  <div class="albumm py-5 bg-lightt">
    <div class="container">
<div class="row">
    <div class="col"></div>
    
    <div class="col-md-10 ">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>
                    <button class="btn btn-primary"> Show Image</button>
                </th>
                <th scope="col">Products</th>
                <th scope="col">Code</th>
                <th scope="col">Available</th>
                <th scope="col">Price</th>
                <th scope="col">5 Start Rating</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
    </div>
    <div class="col"></div>
</div>
 
    </div>
  </div>

</main>
