<!-- <app-nav></app-nav> -->
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col"></div>

      <div class="col-md-10">
        <div class="card">
          <div class="card-header">Product List</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-2">Filter by:</div>
              <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span *ngIf="message">
                  {{ message }}
                </span>
                <h4>Filtered by: {{ listFilter }}</h4>
              </div>
            </div>
          </div>
        </div>
        <table class="table" *ngIf="products && products.length">
          <thead class="thead-light">
            <tr>
              <th>
                <button class="btn btn-primary" (click)="toggleImage()">
                  Show Image
                </button>
              </th>
              <th scope="col">Products</th>
              <th scope="col">Code</th>
              <th scope="col">Available</th>
              <th scope="col">Price</th>
              <th scope="col">5 Start Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of filteredProducts">
              <td>
                <img
                  *ngIf="showImage"
                  [src]="product.imageUrl"
                  [title]="product.productName"
                  style.width.px="{{ imageWidth }}"
                  [style.margin.px]="imageMargin"
                />
              </td>
              <td>
                <a [routerLink]="['/pm/products', product.productId]">
                  {{ product.productName }}
                </a>
              </td>
              <td>
                {{ product.productCode | lowercase | convertToSPaces: "-" }}
              </td>
              <td>{{ product.releaseDate }}</td>
              <td>{{ product.price | currency: "USD":"symbol":"1.2-2" }}</td>
              <!-- <td>{{ product.starRating }}</td> -->
              <td>
                <pm-star
                  [rating]="product.starRating"
                  (ratingClicked)="onRankingClicked($event)"
                ></pm-star>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
